html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 32vh;
  background: url(https://66.media.tumblr.com/2dce6aa85b6e3aac0c5d69544c0c1389/tumblr_phbk3gPwBc1s495ddo1_r1_500h.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

header h1,
header p {
  text-align: center;
  color: white;
}

/* navbar */

.logo-wcs {
  margin-left: 5px;
  margin-right: 5px;
}

nav ul {
  margin-right: 10px;
  margin-left: 1%;
}

/* titres */

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3d3d3d;
  background-color: #f2f2f2;
  background-size: cover;
}

/* section Intro + section Stage */

p {
  font-size: 14px;
}

#subtitle {
  font-style: italic;
}

a:link {
  text-decoration: none;
}

#contact a {
  font-weight: bold;
  color: #f3a61f;
}

/* section Promo */

#wild {
  padding-top: 3%;
  text-align: justify;
}

#wild a {
  font-weight: bold;
  color: #f3a61f;
}

.photos {
  text-align: center;
}

@media(max-width:650px) {
  .timeline {
      position: relative;
      margin: 0 auto;
      max-width: 1200px;
      text-align: center;
  }

  .timeline::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 6px;
      margin-left: -3px;
      background-color: #f3a61f;
  }
}

.photo1,.photo2,.photo3,.photo4,.photo5,.photo6,.photo7,.photo8,.photo9,.photo10,.photo11,.photo12 {
  margin-bottom: 2em;
}

.rounded-circle {
  border: 5px solid #f2f2f2;
}

.rounded-circle:hover {
  border: 5px solid #f3a61f;
  cursor: pointer;
}

/* Popup */

.bold {
  font-weight: bold;
}

.italic {
  font-size: 16px;
  font-style: italic;
}

.logos-modal {
  margin-right: 10px;
}

/* Footer */

footer {
  height: 170px;
  background-color: #85cbcb;
}

#footer{padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}


footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: white;
}

#bold_footer{
  font-weight: bold;
}
