header{
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background: url(https://images.pexels.com/photos/140945/pexels-photo-140945.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;*/
  background-color: grey;

}

.rounded-circle:active {
	opacity: 0;
	border-color: orange;
	border-width: 2px;
}

  header h1, header p{
  text-align: center;
  color: white;
}

.logo-wcs {

  margin-left: 5px;
}

nav ul{
  margin-left: 1%;
  margin-right: 10px;
}

